html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%;
}

audio {
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}


input {
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

input:focus {
  border: 3px solid #555;
}









.nav-list {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size:4vw;
  font-weight: 600;
}

.nav-list > li { 
  padding: 15px;
  background-color: #2196f3;
  color: #fff;
  flex-grow:1;
}

.nav-list > li > a {  
  text-decoration: none;
  color: white;
}

.nav-list > li > a:visited {  
  text-decoration: none;
}


.container.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.data.objetivosHome{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.data {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 0px;
}

/*  Gastos  */

.gastos-detail {
  display: flex;
  justify-content: space-evenly;
  padding:10px;
}

.gastos-detail > h3 {
  word-spacing: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gastos-list {
  margin-top: 2vh;
}

.item-gasto {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vh;
}

.item-gasto:nth-child(even) {
  background-color: #9e9e9e;
}




.item-gasto-detail {
  display: flex;
  flex-direction: column;
  flex-grow:4;
  padding: 10px;
  font-weight: 500;
}

.item-gasto-costo {
  display: flex;
  flex-grow: 1;
  font-size: 1.5rem;
}

.item-gasto-action {
  display:flex;
  flex-direction: row;
  flex-grow:1;
  justify-content: space-evenly;
}

.button-add {
  border: none;
  font-size: 2.5rem;
  border-radius: 50%;
  color: #fff;
  background-color: #0f549c;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.form-gastos {
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  padding: 10px;
}


.button-cerrar {
  float:right;
}

.form-gastos-label {
  display:flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 500;
  align-items: center;
}

.form-gastos-label > input {
  font-size: 1rem;
  padding:5px;
  border: none;
}

.form-gastos-input {
  border: none;
  background-color: #0f549c;
  padding: 10px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.modal-ingreso {
  height: 30vh;
  width: 50vh;
  margin: auto;
  margin-top: 50px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #0f549c;
}

.modal-form  {
  display:flex;
  flex-direction: column;
  align-items: center;
}
.modal-form > label {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.modal-form > label > input {
  font-size: 1rem;
  text-align: center;
}

.modal-form  > button {
  font-size: 24px;
  border: none;
  margin-top: 1rem;
  font-weight: 500;

}


.item-nota {
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    align-items: center;
}

.item-checkbox {
  height: 1.5rem;
  width: 1.5rem;
}

.item-div {
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-grow:1;
}

.strike-nota {
  font-weight: 600;
}

.form-notas {
  display:flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-notas > label {
  display:flex;
  flex-direction: column;
  flex-grow: 2;
}


.form-notas > button {
  border:none;
  flex-grow: 1;
}

.color-div {
  display: flex;
  flex-direction: column;
}

.color-label-box {
  display:flex;
  flex-direction: row;
  font-size: 1rem;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.color-submit-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

/* Objetivos */

.formObjetivos {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.item-objetivo {
  padding: 10px;
  display:flex;
  flex-direction: row;
  align-items: center;
}

.div-checks {
  display:flex;
  flex-direction: column;
  flex-grow: 4;
  align-items: flex-start;
}

.div-percent {
  display:flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  align-items: flex-end;
  text-align: center;
}

.btnDeleteObjetivo {
  padding: 5px 10px;
  background-color: #AB2331;
  color:#fff;
  border-radius: 5px;
  font-weight: 600;
}



.checkObjetivo {
  width: 2em;
  height: 2em;
  margin-left: 0.5em;
}


.active {
  border-bottom: 2px solid #fff;
}



.accordion-tab {
  display:flex;
  justify-content: flex-end;
  background-color: #2196f3;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.symbol-tab {
  font-weight: 700;
}

.content {
  transition: 0.1s;
}